body{

    font-family:Arial;
    background:#f4f6f9;
    margin:0;
    padding: 40px;

}
/*website will become centered*/
.container{

max-width:900px;

margin:auto;

}
h1{

font-size:40px;

margin-bottom:25px;

color:#1d3557;

}

.form-row{

display:flex;

gap:15px;

margin-bottom:25px;

}


.form-row input,
.form-row select{

flex:1;

padding:12px;

font-size:16px;

border-radius:8px;

border:1px solid #ccc;

}
.form-row button:hover{

background:#218838;

}

.stats{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:15px;

margin:25px 0;

}

.stat-card{

background:white;

padding:15px;

border-radius:12px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}
.stat-card p{

font-size:24px;

font-weight:bold;

margin:10px 0 0;

color:#1976d2;

}

button{

    padding:10px;
    border:none;
    background-color:rgb(10, 191, 79);
    color:white;
    border-radius:5px;
    cursor:pointer;

}

.job{

padding:18px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.12);

transition:.3s;

background:white;

margin-bottom:15px;

}

.job:hover{

transform:translateY(-4px);

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

}
.header span{

background:#1976d2;

color:white;

padding:5px 12px;

border-radius:20px;

font-size:13px;

}
.edit-btn{

background:#1976d2;

color:white;

}
.delete-btn{

background:#e53935;

color:white;

}

.status{

background:#1976d2;

color:white;

padding:6px 12px;

border-radius:20px;

font-size:13px;

font-weight:bold;

}
.buttons{

display:flex;

gap:10px;

margin-top:15px;

}
.buttons button{

flex:1;

}